<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1><%= text %></h1>
    <a href="/index">Index Page</a>

    <p>
      Hello! My name is Jordan Radnich. I am currently an intern at Providence Health & Services as a software engineer. It's my job to work on software that is used by the server operations team in their day-to-day duties.
    </p>
    <p>
      In my past jobs, I worked customer service and sales. But what I've always found fulfilling has been utilizing technology to help others. Whether it be helping someone communicate better, or keeping them entertained on a relaxing weekend, I aspire to do it all.
    </p>
</body>
</html>