<html>
<body>
<h1>Randog!</h1>
<script>
    function randomImage(){
      const imageRandom = document.getElementById("imageRandom");
      const imageBreed = document.getElementById("imageBreed");
      const api = "https://dog.ceo/api/breeds/image/random";
      
      fetch(api)
        .then(function(response){
          return response.json();
        })
        .then(function(json){
          console.log(json);
          var imageURL = json.message;
          let source = json.message;
          let splits = source.split("/")
          var breed = splits[splits.length-2];
			    console.log(breed);
          imageBreed.innerHTML = breed;
          imageRandom.src=imageURL;
        })
        .catch(function(error){
          console.log(error);
        });
    }
</script>
  <a margin=50px href="/index">Go Back...</a><br>
  <button onClick="randomImage()">Go Fetch!</button><br>
  <img width=400px id="imageRandom"/><br>
  <h2 id="imageBreed"></h2>
</body>
</html>